@tailwind base;
@tailwind components;
@tailwind utilities;

.h-128 {
    height: 48rem;
}

.h-14 {
    height: 3.5rem;
}

.dot {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    display: inline-block;
}

/**
Custom class here
*/